# Mentoria Evolution - Exercícios Python

https://minerandodados.com.br

* Para executar uma célula digite **Control + enter** ou clique em **Run**.
* As celulas para rodar script Python devem ser do tipo code.
* Crie células abaixo das celulas que foram escrito o enunciado das questões com as respostas.

**Obs**: Caso de dúvidas, volte na aula anterior de Python. Não desista :)

## Exercícios de Fixação

1) Responda: É possível ter elementos de tipos difentes em uma mesma lista? Exemplo: strings e números?

Sim

2) Trabalhando com Listas, faça:
- a) Cria uma lista de valores inteiros com o **nome** e **idades**.
- b) Imprima apenas segundo elemento da lista.
- c) Imprima a quantidade de elementos da lista.
- d) Substitua o valor do segundo elemento da lista e imprima o resultado.
- e) Imprima apenas os valores do segundo elemento em diante.
- f) Remova qualquer elemento da lista e imprima o resultado.
- g) Defina uma lista chamada salarios com os valores : **900,1200,1500,800,12587,10000**.
- h) Verifique se contém o valor 10000 na lista de salarios.
- i) Imprima o menor e maior valor da lista.
- j) Adicione o valor 7000 a lista.
- l) Extenda a lista com dois novos elementos utilizando apenas um método.
- m) Imprima o índice do elemento de valor 800 da lista de salarios.
- n) Faça uma ordenação dos valores da lista de salarios em ordem crescente e decrescente.

In [10]:
NomeIdades=['sergio', 28, 'marcos',32, 'ana',15]
NomeIdades

['sergio', 28, 'marcos', 32, 'ana', 15]

In [12]:
ni = NomeIdades
ni

['sergio', 28, 'marcos', 32, 'ana', 15]

In [15]:
ni[1]

28

In [14]:
len(ni)

6

In [17]:
ni[1]=27
ni

['sergio', 27, 'marcos', 32, 'ana', 15]

In [19]:
ni[1:]

[27, 'marcos', 32, 'ana', 15]

In [20]:
ni.remove('marcos')
ni

['sergio', 27, 32, 'ana', 15]

In [21]:
salario = [900,1200,1500,800,12587,10000]

In [22]:
10000 in ni

False

In [26]:
max(salario)

12587

In [27]:
min(salario)

800

In [29]:
salario.append(7000)

In [30]:
salario + [200, 300]

[900, 1200, 1500, 800, 12587, 10000, 7000, 7000, 200, 300]

In [31]:
salario.index(800)

3

In [34]:
salario.sort()
salario

[800, 900, 1200, 1500, 7000, 7000, 10000, 12587]

In [36]:
salario.sort(reverse=True)
salario

[12587, 10000, 7000, 7000, 1500, 1200, 900, 800]

3) Trabalhando com dicionários:
- a) Crie um dicionário para armazenar o nome e a idade de pessoas, Exemplo:
    pessoas = {'Rodrigo':30, 'Fulana':18}
- b) Imprima a idade da pessoa "Fulana"
- c) Imprima as Chaves do dicionario criado anteriormente.
- d) Imprima os valores das chaves do dicionário
- e) Busque a chave "Felipe" se ela não existe insira esta e o valor 30 (obs: use o método setdefault())

In [37]:
pessoas = {'Sergio':28, 'Camila':32, 'Mazu':27}

In [38]:
pessoas['Camila']

32

In [41]:
pessoas.keys()

dict_keys(['Sergio', 'Camila', 'Mazu'])

In [43]:
pessoas.values()

dict_values([28, 32, 27])

In [44]:
pessoas.setdefault('Felipe',40)

40

4) Estruturas condicionais:
- a) Verifique se 5 é maior que 1, se sim, imprima "5 é maior que 1"
- b) crie as variávies x1 e y1, defina dois valores quaisquer para as duas variáveis. 
  Verifique se x1 é maior que y1. Se sim, imprima "x1 é maior que y1", senão imprima: "y1 é maior que x1"
- c) Crie uma lista de valores como [2,3,4,5,6,7] e faça um loop para imprimir todos os valores na tela multiplicados por 2.

In [45]:
if 5 > 1:
    print('5 é maior que 1')

5 é maior que 1

In [47]:
x1= 5670943
y1= 1232445

if x1 > y1:
    print('X1 > y1')
else:
    print('X1<y1')

X1 > y1

In [49]:
for i in [2,3,4,5,6,7]:
    print("valor: %s" %i)
    print( i +2)

valor: 2
4
valor: 3
5
valor: 4
6
valor: 5
7
valor: 6
8
valor: 7
9

- Ao concluir, salve seu notebook e envie suas respostas para **contato@minerandodados.com.br**